'context-menu':
  'div[is="project-viewer-view"]': [
    {
      'label': 'Group - Add',
      'command': 'project-viewer:add-group'
    },
    {
      'label': 'Group - Remove',
      'command': 'project-viewer:remove-group'
    }
  ]
  'div[is="project-viewer-view"] li[is="group-view"] > .list-item': [
    {
      'label': 'Group - Add',
      'command': 'project-viewer:add-group'
    },
    {
      'label': 'Group - Edit',
      'command': 'project-viewer:edit-group'
    },
    {
      'label': 'Group - Remove',
      'command': 'project-viewer:remove-group'
    },
    {
      'type': 'separator'
    },
    {
      'label': 'Project - Add',
      'command': 'project-viewer:add-project'
    },
    {
      'label': 'Project - Remove',
      'command': 'project-viewer:remove-project'
    }
  ]
  'div[is="project-viewer-view"] li[is="project-view"]': [
    {
      'label': 'Project - Add',
      'command': 'project-viewer:add-project'
    },
    {
      'label': 'Project - Edit',
      'command': 'project-viewer:edit-project'
    },
    {
      'label': 'Project - Remove',
      'command': 'project-viewer:remove-project'
    },
    {
      'type': 'separator'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Project Viewer'
      'submenu': [
        {
          'label': 'Toggle',
          'command': 'project-viewer:toggle'
        },
        {
          'type': 'separator'
        },
        {
          'label': 'Group - Add',
          'command': 'project-viewer:add-group'
        },
        {
          'label': 'Group - Edit',
          'command': 'project-viewer:edit-group'
        },
        {
          'label': 'Group - Remove',
          'command': 'project-viewer:remove-group'
        },
        {
          'type': 'separator'
        },
        {
          'label': 'Project - Add',
          'command': 'project-viewer:add-project'
        },
        {
          'label': 'Project - Edit',
          'command': 'project-viewer:edit-project'
        },
        {
          'label': 'Project - Remove',
          'command': 'project-viewer:remove-project'
        },
        {
          'type': 'separator'
        },
        {
          'label': 'Edit file',
          'command': 'project-viewer:edit-file'
        }
      ]
    ]
  }
]
