'context-menu':
  'div[is="project-viewer-view"]': [
    {
      'label': 'Add Group', 'command': 'project-viewer:add-group'
    },
    {
      'label': 'Remove Group', 'command': 'project-viewer:remove-group'
    },
    {
      'label': 'Add Project', 'command': 'project-viewer:add-project'
    },
    {
      'label': 'Remove Project', 'command': 'project-viewer:remove-project'
    }
  ]
  # 'div[is="project-viewer-view"] li[is="group-view"]': [
  #   {
  #     'label': 'Edit Group', 'command': 'project-viewer:edit-group'
  #   }
  # ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Project Viewer'
      'submenu': [
        {
          'label': 'Toggle', 'command': 'project-viewer:toggle'
        },
        {
          'type': 'separator'
        },
        {
          'label': 'Add Group', 'command': 'project-viewer:add-group'
        },
        {
          'label': 'Remove Group', 'command': 'project-viewer:remove-group'
        },
        {
          'type': 'separator'
        },
        {
          'label': 'Add Project', 'command': 'project-viewer:add-project'
        },
        {
          'label': 'Remove Project', 'command': 'project-viewer:remove-project'
        },
        {
          'type': 'separator'
        },
        {
          'label': 'Edit file', 'command': 'project-viewer:edit-file'
        }
      ]
    ]
  }
]
