@import "ui-variables";
@import "./extras/variables";

project-viewer {
	font-size: @font-size;
	font-family: @font-family;
	display: flex;
	flex-direction: column;
	transition: width 0.5s;
	width: @project-viewer_main_width-max;

	&.autohide {
		width: @project-viewer_main_width-min;

		&:hover {
			width: @project-viewer_main_width-max;

      .hidden-block {
        opacity: 0;
      }
		}
	}

  .hidden-block {
      background-color: @tool-panel-background-color;
      pointer-events: none;
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 1;
      opacity: 0;
			transition: opacity 0.5s;

      &.visible {
        opacity: 1;
      }
  }

	.panel-body {
		overflow: scroll;
		flex-grow: 1;
	}

	> .list-tree {
		position: relative;
		padding: @component-padding @component-padding/2;
	}

	li[is="project-viewer-list-nested-item"].list-nested-item {
		-webkit-user-drag: element;
    -webkit-user-select: none;
		pointer-events: none;
		transition: color @project-viewer-transition-duration ease-in 0s;

		> .list-item {
			pointer-events: all;
			cursor: pointer;

			&:hover {
				color: @project-viewer-selected-state;
			}
		}

		.list-tree {
			pointer-events: none;
		}

		li[is="project-viewer-list-item"].list-item {
			-webkit-user-drag: element;
	    -webkit-user-select: none;
			cursor: pointer;
			transition: color @project-viewer-transition-duration ease-in 0s, padding 0.1s ease-in 0s;
			pointer-events: all;

			&::before {
				position: absolute;
				left: 0;
				height: @component-line-height;
				content: "";
				width: 2px;
				background-color: @project-viewer-active-state;
				visibility: hidden;
				transform: scaleY(0);
				transition: transform @project-viewer-transition-duration, visibility @project-viewer-transition-duration;
			}

			&:hover {
				color: @project-viewer-selected-state;
				padding-left: 0;
			}

			&:hover::before {
				visibility: visible;
				transform: scaleY(1);
			}

			span {
				pointer-events: none;
			}
		}
	}
}

.pv-has-custom-icons {

	@import (less) "./../node_modules/octicons/build/font/octicons.css";
	@import "./extras/octicons";

	@import (less) "./../node_modules/devicon/devicon.css";
	@import "./extras/devicon";

	.octicon::before {
		margin-right: @component-padding / 2;
	}

	.octicon::before,
	.icon::before {
		// this fixes the devicon being smaller then the octicons
		font-size: @component-icon-size;
		// centers all icons that are width smaller then the average
		text-align: center;
		vertical-align: middle;
	}
}

project-viewer-form {
	background-color: @tab-background-color;
	overflow: scroll;
	padding: @component-padding * 2;

	h1 {
		color: @text-color-highlight;
	}

	.form-block-title .input-label {
		display: inline;
    width: -webkit-max-content;
    margin: 0 1em 1em 0;
	}

	.input-label {
		display: block;
		width: -webkit-max-content;

		.text-info {
			margin-left: @component-padding/2;
		}
	}

	.icons-list {
		margin-top: @component-padding;
		height: 200px;
		overflow: scroll;

		padding: @component-padding;
		background-color: @tool-panel-background-color;
		position: relative;
		flex: 1 1 300px;
		min-width: 0;
		border: 1px solid @tool-panel-border-color;
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;

		.icon {
			flex: 1 0 200px;
			padding: @component-padding/2 @component-padding;
			transition: all @project-viewer-transition-duration;

			&:hover {
				cursor: pointer;
				color: @text-color-highlight;
				background-color: @button-background-color-hover;
			}
		}
	}

	.input-label {
		cursor: pointer;
	}

	input[type="checkbox"] {
		cursor: pointer;
	}

	.list-group {
		margin-top: @component-padding;
	}
}
